
@{
    ViewBag.Title = "KategoriAyarlari";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<h2><a href="/Yonetici/KategoriEkle">Kategori Ekle</a></h2>
<br />

<h2><a href="/Yonetici/KategoriDuzenle">Kategori Düzenle</a></h2>
<br />

<h2>""<a href="/Yonetici/KategoriSil">Kategori Sil</a></h2>