
@{
    ViewBag.Title = "Makaleler";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Makaleler</h2>

<div>
    <h2><a href="/Yonetici/MakaleYaz">Makale Ekle</a></h2>
    <br />
    <h2><a href="/Yonetici/MakaleSil">Makale Sil</a></h2>

</div>