
@{
    ViewBag.Title = "Sayfalar";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
   
}

<h2><a href="/Yonetici/Hakkimizda">Hakkimizda sayfasını düzenle</a></h2>
<h2><a href="/Yonetici/Iletisim">İletişim sayfasını düzenle</a></h2>


