
@{
    ViewBag.Title = "Uyeler";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div>
   <h2><a href="/Yonetici/UyeDuzenle">Uye nicki düzenle</a></h2>
    
    <br />
   
    <h2><a href="/Yonetici/UyeSil">Uye Sil</a></h2> 
    <br />
   
    <h2> <a href="/Yonetici/UyeRol">Rol(yetki) ayarları</a></h2>
    <br />

</div>